* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* navbar design starts here */

.navigation {
  position: absolute;
  top: 0;
}
.navbar {
  background-color: #fff;
  height: 80px;
  width: 100%;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  position: fixed;
}
.logo {
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}

.nav-list {
  position: absolute;
  top: 25px;
  left: 8em;
  list-style-type: none;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.navigation li {
  display: inline-block;
  padding-left: 25px;
}

.navigation .item {
  text-decoration: none;
  color: black;
  font-size: 15px;
}
.navigation .item sup {
  color: red;
}

.menu-list {
  position: absolute;
  background-color: rgb(180, 89, 89);
  width: 100%;
  display: none;
}

.item:hover {
  color: black;
}

.navigation .item:hover .menu-list{
  display: block;
}



/* Navigation design ends  */

#search {
  margin-left: 18pt;
  display: inline-block;
  color: #696e79;
  border: 1px solid #f5f5f6;
  padding: 8px 10px 10px;
  border-radius: 4px;
  font-size: 14px;
  width: 365px;
  text-overflow: "";
  background-color: rgb(0 0 0 / 5%);
}

#search:focus {
  background-color: #f5f5f6;
}
#search input {
  outline: none;
  border: none;
  width: 300px;
  padding-left: 5px;
  background-color: transparent;
}
#search input:focus {
  background-color: #f5f5f6;
}

.icons {
  position: absolute;
  right: -20em;
  top: 10px;
}
.icon {
  display: inline-block;
  padding: 13px;
  font-size: 20px;
  text-align: center;
}

.icon span {
  display: block;
  font-size: 10px;
 
}

/* navbar design ends here */

/* banner Ads */
.banner {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* Carosoul starts here */

#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  float: left;
  width: 20%;
}
@keyframes slider {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
